body {
  overflow: hidden;
}

nav .menu-items {
  display: flex;
  justify-content: unset;
  align-items: center;
}

.nav-links,
.logout-mode {
  width: 100%;
}

.perfil {
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  width: 222px;
  border-bottom: 1px solid var(--cor-texto);
  transition: .5s;
  padding: 45px 0;
}

.perfil img {
  width: 50px;
}

.perfil span{
  display: block;
  transition: .5s;
}

nav.close .perfil {
  width: 45px;
}

nav.close .perfil span {
  display: none;
}

.profile {
  width: 300px;
  height: 100%;
  position: relative;
  left: 230px;
  display: flex;
  gap: .6rem;
  justify-content: flex-end;
  align-items: center;
}

.profile img {
  width: 40px;
  border-radius: 50%;
}

.profile span {
  color: var(--cor-texto);
  font-size: 20px;
}

.info_maquina_fixas {
  width: 100%;
  margin: 20px 0;
  color: var(--cor-texto);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.info_maquina_fixas span {
  font-weight: 400;
}

nav.close .info_maquina_fixas {
  display: none;
}

.so {
  display: none;
  font-size: 50px;
  margin: 52.5px 0;
  color: var(--cor-texto);
}

nav.close .so{
  display: block;
}

/* Dashboard */
.dashboard .dash-content {
  padding-top: 50px;
}

.content-kpis {
  height: 100px;
  width: 100%;
  display: flex;
}

.kpi_box {
  height: 120px;
  width: 100%;
  background: var(--transparencia);
  margin: 0 14px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px;
  transition: .5s;
  cursor: pointer;
}

.box_grafico {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpi_box:hover {
  box-shadow: 0 0 10px 5px var(--seletor);
}

#kpi_chart_cpu,
#kpi_chart_ram,
#kpi_chart_disco {
  width: 150px;
}

.bar {
  height: 32px;
  width: 100%;
}

progress {
  width: 100%;
}

.descricao_arma {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descricao_arma h1 {
  margin-top: 5px;
  color: var(--cor-texto);
}

.descricao_arma span {
  font-size: 20px;
  margin-top: 22px;
  color: var(--cor-texto);
}

.descricao_arma progress {
  width: 85%;
}

.bar {
  height: 35%;
  margin-bottom: 4px;
}

.barras {
  text-align: center;
}

.barras span {
  font-size: 17px;
  color: var(--cor-texto);
}

.descricao_arma .diminuir {
  font-size: 15px;
}

.segunda {
  display: flex;
  flex-direction: column;
}

.metrica_rede {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.segunda span {
  font-size: 20px;
  color: var(--cor-texto);
}

.segunda i {
  font-size: 50px;
  color: var(--seletor);
}

.segunda .diminuir {
  font-size: 15px;
}

.quarta {
  margin: 0;
}

.content-charts {
  height: 450px;
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.charts-cima,
.charts-baixo {
  height: 100%;
  display: flex;
}

.charts-baixo {
  margin-top: 14px;
}

.box-chart-cpu,
.box-chart-ram,
.box-chart-disco,
.box-chart-rede {
  width: 50%;
  height: 100%;
  background: var(--transparencia);
  border-radius: 7px;
  transition: .2s;
}

.box-chart-cpu h1,
.box-chart-ram h1,
.box-chart-disco h1,
.box-chart-rede h1 {
  position: absolute;
  font-size: 20px;
  width: 50%;
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
}

.box-chart-cpu {
  margin-right: 7px;
}

.box-chart-rede {
  margin-right: 7px;
}

.box-chart-ram {
  margin-left: 7px;
}

.box-chart-disco {
  margin-left: 7px;
}

#wrapper {
  position: relative;
  max-width: 650px;
}

#chart_cpu {
  position: relative;
}