/* Dashboard */
.dashboard .dash-content {
    padding-top: 50px;
}

/* KPI's */
.content-kpis {
    height: 100px;
    width: 100%;
    display: flex;
}

.kpi_box {
    height: 120px;
    width: 100%;
    background: var(--transparencia);
    margin: 0 14px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
    transition: .5s;
    cursor: pointer;
}

.kpi_box:hover {
    box-shadow: 0 0 10px 5px var(--seletor);
}

.dash_funcionarios_content{
    width: 100%;
    height: 100%;
    margin: 14px;
    background: var(--transparencia);
}