body {
    overflow: hidden;
}

.decor {
    display: none;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;

    background-color: #ffffff00;
}

.hover {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Navbar-dash {
    width: 17%;
    height: 90vh;

    position: absolute;
    left: 5vh;
    top: 5vh;

    border-radius: 15px;
    background-color: #f5f5f5;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    z-index: 100;
}

.first-piece {
    width: 90%;
    height: 70%;
    margin: 0 auto;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    /* background-color: #5e085e71; */
}

.logo-navbar-dash {
    height: 20%;

    display: flex;
    align-items: flex-end;

    padding-bottom: 25px;
    font-size: 1.2em;

    /* background-color: #fff; */
}

.info-user-navbar-dash {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-evenly;
    flex-direction: column;

    /* background-color: #fff; */
}


.photo-user-navbar-dash {
    width: 100px;
    height: 100px;

    border-radius: 100%;
    background-image: url('../assets/user-icon.png');
    background-position: center;
    background-size: cover;
}

.info-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options-navbar-dash {
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.primeira,
.segunda {
    width: 90%;
    height: 5vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .2s;

    color: #25252570;
}

.primeira p,
.segunda p {
    margin-left: 10px;
}

.selecionado {
    color: #252525;
    font-weight: bold;
}

.selecionado::before {
    content: '';
    width: 4px;
    height: 4vh;

    border-radius: 0 30px 30px 0;
    background-color: #252525;
    position: absolute;
    left: 0;
}


.second-piece {
    width: 90%;
    height: 30%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #12312812; */
}

.mensage {
    width: 75%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    background-color: #242424;
    border-radius: 8px;
}

.btn-Voltar {
    width: 50px;
    height: 50px;

    background-color: #63B2F0;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -15%;
}

.btn-Voltar span {
    color: #f5f5f5;
    font-size: 1.6vw;
}

.mensage .text {
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.mensage .text h5 {
    color: #f5f5f5;
}

.mensage .text p {
    color: #f5f5f5;
    text-align: center;
    font-size: 15px;
}

.mensage .btn-Help {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensage button {
    width: 80%;
    height: 100%;
    border-radius: 8px;
    cursor: poi7;
}


/* Container */
.Container {
    width: 80%;
    height: 85vh;

    /* background-color: #63B2F0; */
}

.container {
    width: 95%;
    height: 85vh;

    position: relative;
    /* background-color: #ff224379; */

}

.container>* {
    color: #f5f5f5;
}

.overview {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title {
    width: 30%;
    height: 12vh;
    padding-left: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title h4 {
    font-size: 30px;
    font-weight: 400;
}

.info {
    width: 50%;
    height: 12vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.users {
    width: 30%;
    height: 12vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.users .foto {
    width: 60px;
    height: 60px;
    border-radius: 100%;

    background-image: url('../assets/user-icon.png');
    background-position: center;
    background-size: cover;
}

.users .name {
    width: 60%;
    height: 12vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info .notifications {
    width: 10%;
    height: 12vh;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* DASHS */
.little-dash {
    width: 80%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    /* left: 0; */
    transition: all 200ms ease-out;
}

.first,
.second {
    width: 30%;
    height: 20vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    transition: all .2s;
}

.fourth {
    width: 50%;
    height: 33vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    transition: all .2s;
}

.first span,
.second span {
    width: 90%;
    height: 15%;
}

.first .dash1,
.second .dash2,
.fourth .dash4 {
    width: 90%;
    height: 100%;

    border-radius: 8px;

    background-color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dash1 labels {
    display: none;
}

.little-dash .first .dash1 {
    border: 2px solid #55c1ff;
    animation: sombra1 700ms infinite alternate;
}

.little-dash .dash2 {
    border: 2px solid #ffa500;
    animation: sombra2 700ms infinite alternate;
}

.second-dash .dash4 {
    border: 2px solid #00ff2a;
    animation: sombra3 700ms infinite alternate;
}

@keyframes sombra3 {
    0% {

        box-shadow: 0 0px 15px 0px #ffa60015;


    }

    100% {

        box-shadow: 0 0 15px 0px #00ff2a;
    }
}

@keyframes sombra2 {
    0% {

        box-shadow: 0 0px 15px 0px #ffa60015;


    }

    100% {

        box-shadow: 0 0 15px 0px #ffa500;
    }
}

@keyframes sombra1 {

    0% {

        box-shadow: 0 0px 15px 0px #55c1ff04;


    }

    100% {

        box-shadow: 0 0px 15px 0px #55c1ff;

    }

}

.little-dash .first:hover,
.little-dash .second:hover {
    width: 600px;
    height: 300px;
    z-index: 3000;
}


.second-dash .fourth:hover {
    transform: scale(1.2);
}

/* .little-dash .first .dash1:hover{
    background-color: #232;
    display: flex;
} */

.dash1 .graph {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.dash1 p {
    padding: 0 5px;
    font-size: 13px;
    color: #252525;
}

.dash1 .status {
    display: flex;
    align-items: center;
}

.dash1 .status .usage {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #FF4069;
}

.dash1 .status .avaliable {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #36A2EB;
}

.graph {
    width: 95%;
    height: 95%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.third {
    width: 35%;
    height: 20vh;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.third .dash3 {
    width: 100%;
    height: 85%;

    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #242424;
}

.third .dash3 .texto {
    width: 85%;
    height: 60%;
    /* background-color: #177; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #5d5d5d;
}



.third .dash3 .texto span {
    font-size: 2.5em;
    color: #0b58a0;
}

.third .dash3 .ancora {
    width: 85%;
    margin: 1em auto;
}

.third .dash3 .ancora p {
    display: flex;
    align-items: center;
}

.second-dash {
    width: 80%;
    height: 35vh;
    margin: 1vh auto 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* left: 0; */
    transition: all 900ms ;
}

.second-dash .first {
    width: 60%;
}

.second-dash .first span {
    width: 80%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.second-dash .first .dash1 {
    width: 100%;
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 2px solid #6A65DF;

}

.graph1 {
    width: 100%;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.second-dash .second {
    width: 35%;
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-dash .second .dash-2 {
    width: 100%;
    height: 85%;
    border: 1px solid #ddd;
    background-color: #242424;
    border-radius: 8px;
}




.analytics {
    width: 90%;
    height: 25%;
    margin: 0 auto 1em;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    transition: all 6mach00ms;
}

.analytics * {
    color: #242424;
}

.analytics .kpis {
    width: 90%;
    height: 85%;
    border-radius: 8px;
    /* padding: 0 10px; */
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.analytics .analyticsTitle {
    color: #f5f5f5;
}

.analytics .kpis .kpi {
    width: 20%;
    height: 85%;

    border-radius: 5px;
    border: 1px solid #5d5d5d;
}

.analytics .kpis .kpi .titulo{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    float: right;
}


.analytics .kpis .kpi .indicadores {
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.71em;
    float: right;
}

.analytics .kpis .kpi .indicadores p {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.analytics .kpis .porcentagens {
    width: 70%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.analytics .kpis .porcentagens .porcen {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    font-size: 1.5em;
    color: #0084ff;
}

.analytics .kpis .porcentagens .porcen:nth-child(2){
    color: #00ff2a;
}
.analytics .kpis .porcentagens .porcen:nth-child(3){
    color: #ffae00;
}
.analytics .kpis .porcentagens .porcen:nth-child(4){
    color: #ff0000;
}






.machines{
    width: 90%;
    height: 80vh;
    position: absolute;
    top: 15vh;
    margin: 0 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: -200%;
    background-color: #f5f5f5;
    border-radius: 0.6em;
    transition: all 800ms;
}

.machines *{
    color: #242424;
}

.machines .tituloPrincipal{
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    /* float: right; */
}

.machines .tituloPrincipal h2{
    font-size: 2em;
    font-weight: 500;
}

.machines .content{
    width: 95%;
    display: flex;
    margin: 0 auto;
}

.machines .content .card{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.machines .content .card .titulo{
    font-size: 1.2em;
}

.hover span {
    font-weight: bolder;
    padding-right: 10px;
    transition: .2s;
}

.hover span:hover {
    color: #0084ff;
}