section {
  width: 300%;
  height: 100vh;
  display: flex;
  position: relative;
  right: 0;
  transition: all 0.8s;
}

.container:nth-child(1) {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textHome {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.textHome .textShadow {
  width: 80%;
  height: 30vh;
  font-size: 60px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #f50; */
}

.textHome .textShadow h2 {
  font-size: max(45px, 3.4vw);
}

.textHome .textoInfo {
  width: 80%;
  height: 10vh;
}

.textHome .textoInfo p {
  font-size: max(20px, 1.5vw);
}

.divShadow {
  width: 100%;
  height: 55px;
  position: absolute;
  background-color: rgba(99, 178, 240, 1);
  width: 27%;
  z-index: -1;
  margin-left: -1%;
  margin-top: 1.4%;
}

.ultimaDiv {
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ultimaDiv button {
  width: 25%;
  height: 6vh;
  background-color: #63b2f0;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 18px;
  margin-right: 5%;
  transition: all 1s;
}

.ultimaDiv button:hover {
  background-color: transparent;
  border: 2px solid #63b2f0;
  color: #63b2f0;
}

.imagens {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagens img {
  width: 35%;
  height: 45vh;
  position: absolute;
  border-radius: 15px;
}

.imagens img:nth-child(2) {
  bottom: 25%;
  right: 20%;
  box-shadow: 1px 0 10px 1px #050505;
  animation: image 2s ease-out forwards;

}

.efeito1{
  animation: image 2s ease-out forwards;
}

@keyframes image {
  0% {
    filter: opacity(0);
    transform: rotate(0deg);
  }

  100% {
    filter: opacity(1);
    transform: rotate(-20deg);
  }
}

/*
.textHome p {
    font-size: 20px;
    margin-bottom: 2%;
}

.textHome button {
    width: 200px;
    height: 55px;
    background-color: rgba(99, 178, 240, 1);
    border-radius: 5px;
    color: #252525;
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

.ultimaFrase{
    font-size: 12px;
    font-weight: 600;
}


.img1, .img2{
    
    width: 35%;
    /* height: 60%; *
    z-index: 2;
    /* rotate:calc(30deg); 
    border-radius: 20px;
}

.img1{
    margin-top: -12%;
    rotate:calc(5deg);
    position: absolute;
    margin-left: -46%;
}

.img2{
    margin-top: -16%;
    rotate:calc(-5deg);
    position: absolute;
   margin-left: -50%;
}


*/
@media only screen and (max-width: 1350px) {
  .imagens img {
    width: max(100px, 40%);
    height: max(100px, 35vh);
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .textHome {
    width: 100%;
  }

  .imagens img {
    width: max(430px, 2.5vw);
    height: max(240px, 20vh);
    bottom: 10% !important;
    right: auto !important;
  }
}

@media only screen and (max-width: 500px) {
  .textHome .textShadow {
    width: 90%;
    height: 20vh;
  }

  .textHome .textShadow h2 {
    font-size: 30px;
  }

  .textHome .textoInfo {
    width: 90%;
    height: 8vh;
  }

  .textHome .textoInfo p {
    font-size: 15px;
  }

  .textHome .ultimaDiv {
    width: 92%;
    height: 10vh;
    padding-left: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }

  .textHome .ultimaDiv button {
    width: 40%;
    height: 5vh;
    border-radius: 10px;
    font-size: 13px;
  }

  .textHome .ultimaDiv span {
    font-size: 10px;
  }

  .imagens img {
    width: max(300px, 2.5vw);
    height: max(200px, 20vh);
    bottom: 15% !important;
  }
}