* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1520px;
}

#setavoltar {
    position: absolute;
    font-size: 40px;
    color: var(--luz);
    top: 135px;
    left: 400px;
    cursor: pointer;
}

.bar {
    position: absolute;
    top: 180px;
    left: 400px;
    height: 3px;
    width: 0;
    background-color: var(--clr);
    transition: .4s ease;
}

#ativarseta:hover .bar {
    background: linear-gradient(to right, #1175d1, #182848);
    width: 45px;
    border-radius: 10px;
}

.escolha {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 90%;
}

.container-servicos {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.box {
    position: relative;
}

.box .quadradinho {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px #0000001a;
    background: #ffffff1a;
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {

    0%,
    100% {
        transform: translate(-30px);
    }

    50% {
        transform: translate(30px);
    }
}

.box .quadradinho:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .quadradinho:nth-child(2) {
    top: 150px;
    left: -80px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.box .quadradinho:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .quadradinho:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .quadradinho:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.servicos {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: linear-gradient(to right, #1175d1, #182848);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px #00000025;
}

.quadrado-principal {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Esqueci senha */
a {
    color: var(--bg-color);
    text-decoration: none;
    margin: 15px 0;
}

.input-group {
    position: relative;
    margin: 8px 0;
    width: 250px;
}

.input-group input {
    border: solid 1.5px var(--bg-color);
    border-radius: 10px;
    background: none;
    padding: 12px;
    width: 100%;
    font-size: 15px;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    caret-color: var(--clr);
}

.input-group img {
    position: absolute;
    width: 20px;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.input-group img:hover {
    filter: contrast(var(--clr));
}

.user-label {
    position: absolute;
    bottom: 28px;
    left: 15px;
    color: var(--bg-color);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus,
input:valid {
    outline: none;
    border: 1.5px solid var(--luz);
}

input:focus~label,
input:valid~label {
    transform: translateY(-40%) scale(0.8);
    padding: 0 .2em;
    color: var(--bg-color);
}

#primeira {
    background: linear-gradient(to right, #1362af, #145395);
}

#ultima {
    background: linear-gradient(to right, #1260ac, #15477f);
}

.btnenviar a {
    position: relative;
    padding: 10px 30px;
    margin: 45px 0;
    color: var(--luz);
    font-size: 18px;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
}

.btnenviar a::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--luz);
    border-left: 2px solid var(--luz);
    transition: .3s;
    transition-delay: .1s;
}

.btnenviar a::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--luz);
    border-right: 2px solid var(--luz);
    transition: .3s;
    transition-delay: .1s;
}

.btnenviar a:hover::before,
.btnenviar a:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btnenviar a:hover {
    background: var(--clr);
    color: var(--luz);
    box-shadow: 0 0 50px var(--clr);
    transition-delay: .2s;
}