

.container:nth-child(2) {
    height: 80vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.produto-main {
    width: 40%;
    padding: 20px;
}

.produto-main h1 {
    font-size: max(40px, 4vw);
}

.produto-main p {
    font-size: max(16px, 1.8vw);
    padding-top: 20px;
}

.box-monitoring {
    background-color: #fff;
    width: 35%;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
}

.box-monitoring .titulo,
.box-monitoring .botao {
    width: 90%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.box-monitoring .texto {
    gap: 10px;
    width: 90%;
    height: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.box-monitoring h2 {
    width: 100%;
    font-size: max(24px, 2.5vw);
    /* padding: 20px 0 40px; */
}

.box-monitoring p {
    font-size: min(17px, 2.4vw);
}

.box-monitoring b {
    margin-right: 3%;
    color: #000;
    transition: 0.5s;
}

b {
    animation: titulo 3s forwards;
    color: #63B2F0;
}

@keyframes titulo {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.box-monitoring button {
    background-color: #63B2F0;
    width: 150px;
    height: 35px;
    /* margin: 0 30px; */
    border-radius: 15px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

.box-monitoring button:hover {
    scale: 1.01;
    opacity: 0.8;
}

.box-monitoring:hover b {
    color: #63B2F0;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .produto-main {
        width: 70%;
        height: 25vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .box-monitoring {
        width: 80%;
        height: 40vh;
        margin: 0 auto;
    }

    .box-monitoring b {
        color: #63B2F0;
    }

    .box-monitoring p {
        font-size: min(22px, 3vw);
    }
    .box-monitoring .texto{
        height: 70%;
    }
    .box-monitoring .botao, .box-monitoring .titulo{
        height: 20%;
        justify-content: center;
    }

    .box-monitoring .botao {
        align-items: flex-start;
    }
}