@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/imgs/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mascara {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.8);
  backdrop-filter: blur(15px);
}