@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

/* Identificador da página */
.navbar a:nth-child(1) {
    text-decoration: underline 2px;
    animation: here 1s forwards;
}

nav {
    height: 15vh;
    width: 100%;
    display: none;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0px 30px 20px 30px;
    align-items: center;
}

nav .hambur span {
    font-size: 35px;
    cursor: pointer;
}

.fecharNav {
    position: absolute;
    z-index: 1500;
    /* top: 0; */
    left: -10%;
    transition: all 2s;
    cursor: pointer;
}

nav .navEs {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: -80%;
    top: 0;
    z-index: 1000;
    background-color: #f1f1f1ff;
    transition: all 2s ease-out;
    box-shadow: 1px 0 10px 0px #383838;
}

nav .navEs .navbar,
nav .navEs .signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav .navEs .navbar{
    flex-direction: column-reverse;
}

nav .navEs .signup {
    margin-top: 15%;
}




/* Responsividade da Nav */
@media only screen and (max-width: 1000px) {

    .header {
        display: none;
    }

    nav {
        display: flex;
    }
}




/* Div princial que contém todo conteúdo fora a nav */
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
}


.container .esquerda,
.direita {
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}


/* Div que contém o Titulo e subTitulo */
.container .esquerda {
    padding-top: 3%;
    width: 35%;
    align-items: center;
    /* background-color: #fff; */
}

.container .esquerda h2 {
    font-size: max(50px, 5.7vw);
    /* margin-bottom: 3%; */
    position: absolute;
    animation: entradaTitulo 2.5s ease-in-out;
}

@keyframes entradaTitulo {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.container .esquerda h4 {
    font-size: max(45px, 4.3vw);
    font-weight: 100;
    margin-top: 25%;
}


/* Div que contém o texto principal */
.container .direita {
    width: 55%;
    justify-content: space-around;
}

/* Texto informativo */
.container .direita p {
    font-size: min(20px, 1.9vw);
}

/* Responsividade */
@media only screen and (max-width: 1350px) {
    .container .direita p:nth-last-child(1) {
        display: none;
    }
}


@media only screen and (max-width: 1184px) {

    .container .esquerda{
        padding-top: 0;
    }

    .container .direita p:nth-child(4){
        display: none;
    }
    .container .direita p:nth-child(5) {
        display: flex;
        visibility: hidden;
    }
}

@media only screen and (max-width: 1000px){

    .container {
        width: 95%;
        height: 80vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .container .esquerda{
        width: 80%;
        height: 40%;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .container .direita{
        width: 80%;
        height: 55%;
        text-align: justify;
    }

    .container .direita p:nth-child(5), p:nth-child(4){
        display: none;
    }

}

@media only screen and (max-width: 700px){

    .container .esquerda h2{
        font-size: max(40px, 4.3vw);
    }

    .container .esquerda h4{
        font-size: max(35px, 3.5vw);

    }

    .container .direita{
        height: 80vh;
        padding: 5% 0;
        height: 70vh;
        justify-content: flex-start;
    }
    .container .direita p{
        font-size: min(20px, 3.5vw);
        padding-bottom: 5%;
        z-index: 30;
    }
    .container .direita p:nth-child(3){
        display: none;
    }
}