/* Dashboard */
.dashboard {
  position: relative;
  left: 250px;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 14px;
  transition: .5s ease;
}

nav.close~.dashboard,
nav.close~.dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background: var(--cor-principal);
  transition: .5s ease;
  z-index: 10;
}

.dashboard .top .sidebar-toggle {
  font-size: 35px;
  color: var(--cor-texto);
  cursor: pointer;
}

.dashboard .dash-content {
  padding-top: 50px;
}

.content-kpis {
  height: 100px;
  width: 100%;
  display: flex;
}

.kpi_box {
  height: 120px;
  width: 300px;
  background: var(--transparencia);
  margin: 0 1px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}

.primeira {
  border-radius: 7px 0 0 7px;
}

.quinta {
  margin: 0;
  border-radius: 0 7px 7px 0;
}

.content-charts {
  height: 450px;
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.charts-cima,
.charts-baixo {
  height: 100%;
  display: flex;
}

.charts-baixo {
  margin-top: 14px;
}

.box-chart-cpu,
.box-chart-gpu {
  width: 50%;
  height: 100%;
  background: var(--transparencia);
  border-radius: 7px;
  transition: .2s;
  border: 1px solid #ebebf0;
}

.box-chart-gpu {
  margin-left: 14px;
}

.box-chart-ram,
.box-chart-disco,
.box-chart-rede {
  width: 34%;
  height: 100%;
  background: var(--transparencia);
  border-radius: 7px;
  transition: .10s;
  border: 1px solid #ebebf0;
}

.box-chart-disco {
  margin: 0 14px;
}