/* Home */
.container-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(100px);
}

.divulgaempresa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

.textochamativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.textochamativo img {
    width: 350px;
}

.textochamativo h1 {
    color: var(--luz);
    font-size: 150px;
    font-family: 'Oxanium';
}

.textochamativo span {
    color: var(--luz);
    font-size: 25px;
}

.loaderfrases {
    color: var(--luz);
    font-weight: 400;
    font-size: 25px;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: flex;
}

.frases {
    text-align: left;
    overflow: hidden;
}

.frase {
    display: block;
    height: 100%;
    padding-left: 6px;
    animation: giragirafrases 15s infinite;
}

.frases span {
    color: var(--clr);
    font-weight: 400;
}

@keyframes giragirafrases {
    10% {
        transform: translateY(5%);
    }

    20% {
        transform: translateY(-105%);
    }

    30% {
        transform: translateY(-100%);
    }

    40% {
        transform: translateY(-205%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-305%);
    }

    70% {
        transform: translateY(-300%);
    }

    80% {
        transform: translateY(-405%);
    }

    90% {
        transform: translateY(-400%);
    }

    100% {
        transform: translateY(-500%);
    }
}

.imagemchamativa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.imagemchamativa img {
    width: 100%;
}

.loaderimage {
    box-sizing: content-box;
    height: 600px;
    padding: 10px 10px;
    display: flex;
}

.imagens {
    overflow: hidden;
}

.image {
    display: block;
    height: 100%;
    padding-left: 6px;
    animation: giragiraimage 15s infinite;
    transition-delay: 2s ease;
}

@keyframes giragiraimage {
    10% {
        transform: translateY(5%);
    }

    20% {
        transform: translateY(-105%);
    }

    30% {
        transform: translateY(-100%);
    }

    40% {
        transform: translateY(-205%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-305%);
    }

    70% {
        transform: translateY(-300%);
    }

    80% {
        transform: translateY(-405%);
    }

    90% {
        transform: translateY(-400%);
    }

    100% {
        transform: translateY(-500%);
    }
}

.btnsobrenos a {
    position: relative;
    padding: 10px 30px;
    margin: 45px 0;
    color: var(--luz);
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
}

.btnsobrenos a::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--clr);
    border-left: 2px solid var(--clr);
    transition: .3s;
    transition-delay: .1s;
}

.btnsobrenos a::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--clr);
    border-right: 2px solid var(--clr);
    transition: .3s;
    transition-delay: .1s;
}

.btnsobrenos a:hover::before,
.btnsobrenos a:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btnsobrenos a:hover {
    background: var(--clr);
    color: var(--luz);
    box-shadow: 0 0 50px var(--clr);
    transition-delay: .2s;
}

/* Serviços */
.container-servicos {
    height: 700px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.titulo-servicos {
    font-weight: 200;
    font-size: 60px;
    color: var(--luz);
    margin-top: 50px;
    text-align: center;
}

.titulo-servicos h1 {
    font-weight: 300;
}

.titulo-servicos span {
    color: var(--clr);
}

.box {
    position: relative;
}

.box .quadradinho {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px #0000001a;
    background: #ffffff1a;
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {

    0%,
    100% {
        transform: translate(-30px);
    }

    50% {
        transform: translate(30px);
    }
}

.box .quadradinho:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .quadradinho:nth-child(2) {
    top: 150px;
    left: -80px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.box .quadradinho:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .quadradinho:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .quadradinho:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.servicos {
    position: relative;
    width: 400px;
    min-height: 400px;
    background-color: #ffffff10;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px #00000025;
}

.servicos h2 {
    font-family: 'Oxanium';
}

.quadrado-principal {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.servico-chamado {
    width: 310px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servico-chamado img {
    width: 250px;
}

.quadrado-principal p {
    width: 70%;
    font-size: 20px;
    color: var(--luz);
}

.btnsabermais a {
    position: relative;
    padding: 10px 30px;
    margin: 45px 0;
    color: var(--luz);
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
}

.btnsabermais a::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--clr);
    border-left: 2px solid var(--clr);
    transition: .3s;
    transition-delay: .1s;
}

.btnsabermais a::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--clr);
    border-right: 2px solid var(--clr);
    transition: .3s;
    transition-delay: .1s;
}

.btnsabermais a:hover::before,
.btnsabermais a:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btnsabermais a:hover {
    background: var(--clr);
    color: var(--luz);
    box-shadow: 0 0 50px var(--clr);
    transition-delay: .2s;
}

/* Vantagens */
.titulo-vantagens {
    position: relative;
    top: 125px;
    font-weight: 200;
    font-size: 60px;
    color: var(--luz);
    margin-top: 50px;
    text-align: center;
}

.titulo-vantagens h1 {
    font-weight: 300;
}

.titulo-vantagens span {
    color: var(--clr);
}

.carousel {
    position: relative;
    z-index: 1;
    height: 150vh;
    overflow: hidden;
    pointer-events: none;
}

.carousel-item {
    --items: 10;
    --width: clamp(150px, 30vw, 300px);
    --height: clamp(200px, 40vw, 400px);
    --x: calc(var(--active) * 800%);
    --y: calc(var(--active) * 200%);
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    user-select: none;
    transform-origin: 0% 100%;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
    background: var(--clr);
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform .8s cubic-bezier(0, 0.02, 0, 1);
}

.carousel-item .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
}

.carousel-item .carousel-box::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
}

.carousel-item .title {
    position: absolute;
    z-index: 1;
    color: #fff;
    bottom: 20px;
    left: 20px;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 3vw, 30px);
    text-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}

.cardcliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: var(--bg-color);
    padding: 15px;
}

.cardcliente h1 {
    font-size: 25px;
    color: var(--luz);
}

.cardcliente p {
    padding-top: 12px;
    font-weight: 600;
}

.cardcliente span {
    color: var(--luz);
}

.cardcliente img {
    border-radius: 50%;
    width: 150px;
}

.cardvantagem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #329afc, #182848);
    padding-bottom: 70px;
}

.cardvantagem img {
    width: 300px;
}

.cardtexto {
    background-color: #b8d6f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textcard {
    /* position: absolute; */
    z-index: 1;
    color: var(--bg-color);
    font-weight: 600;
    /* bottom: 35px;
    left: 15px; */
    font-size: 1.5em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    text-align: center;
    padding: 1em;
}

.ultimocard {
    background: #182848;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ultimocard h1 {
    color: var(--luz);
    font-size: 35px;
}

.ultimocard img {
    width: 180px;
}

@media only screen and (max-width: 1000px) {

    .container-home {
        flex-direction: column;
    }

    .imagemchamativa {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .loaderimage {
        height: 30em;
        display: flex;
        justify-content: center;
    }

    .carousel {
        height: 90vh;
    }

    .carousel-item {
        height: 50vh;
        width: 50%;
        box-shadow: 0 10px 60px 15px rgba(0, 0, 0, .5);
        transform: translate(var(--x));
    }
    
}

@media only screen and (max-width: 650px) {
    .textochamativo img{
        width: 40%;
    }

    .carousel-item {
        width: 70%;
        left: 30%;
    }
}