@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

.fale_conosco {
    background-color: #cccccc;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.fale_conosco h1 {
    color: #181818;
    font-size: 80px;
    margin-bottom: 2rem;
}

.fale_conosco p {
    color: #181818;
    font-size: 30px;
}

.social {
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.icone {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

.icone:hover {
    background-color: #3d3d3d;
}

.icone img {
    width: 35px;
    border-radius: 100px;
}